@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* font-family: 'Nerko One', cursive; */

*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.2rem;
    background-color:#222222;
  }

  section{
      display: flex;
      justify-content: center;
      align-items: center;
  }

#list{
    text-decoration: none;
    list-style: none;
}

.item{
    color: #f3f3f3;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}

.btn-done{
    color: #ffffff;
      border-radius: 2px;
      border: 1px solid;
      border-color: #f3f3f3;
      height: 36px;
      margin-right: 50px;
      background-color: #222222;
      color: #f3f3f3;
}

.btn-delete{
    color: #ffffff; 
      border-radius: 2px;
      border: 1px solid;
      border-color: #f3f3f3;
      height: 36px;
      margin-left: 50px;
      background-color: #222222;
      color: #f3f3f3;
}

.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #707070;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #707070;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }



  



  fieldset {
    position: relative;
    border: 0;
    padding: 35px 40px 20px 40px;
    width: 500px;
    legend {
      text-align: center;
      font-family: 'Poppins', sans-serif; 
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 24px;
      padding: 30px 20px 0 20px;
      color: #f3f3f3;
    }
  }
  
  label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }
  
  input {
    border: 0;
    outline: none;
  }
  
  .inputs input {
    min-width: 100%;
    background: #f3f3f3;
    padding: 25px 10px 5px 10px;
  }
  
  .inputs div {
    position: relative;
    padding: 10px 0 10px 0;
    label {
      position: absolute;
      top: 20px;
      left: 10px;
      color: #707070;
      transition: color 0.2s;
    }
  
    input {
      transition: all 0.2s;
    }
  }

  .buttons {
    padding: 20px ;
    display: flex;
    flex-flow: row;
    button {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.0357143em;
      text-transform: uppercase;
      transition: all 0.2s;
      color: #ffffff;
      border-radius: 2px;
      border: 0;
      height: 36px;
      margin-right: 50px;
      background-color: #d9f1f4 !important;
      color: #00bcd4;
    }
  
    button[type="submit"] {
      width: 90px;
      background: #57bebe;
    }
  
    button[type="reset"] {
      width: 100px;
      background: #291c44;
      margin-left: 16px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }